@media all{
	
	a:link{
		text-decoration:none;
	}

	.wrapper__right a:link,
	.wrapper__right a:active,
	.wrapper__right a:visited{
		color:	var(--thirdcolor,#04678c);
	}
	
	.wrapper__right a:hover{
		color:	var(--secondarycolor,#ea0e74);
	}	
	
	.left__abstand--top1 a:link{
		color:	var(--fourthcolor,white);
	}
	
	.galerie a,
	.galerie a:hover { 
		margin-left:15px; 
		margin-right:15px; 
		margin-bottom:15px; 
	}

	.galerie a { 
		border: 2px solid var(--secondarycolor); 
	}

	.galerie a:hover { 
		border: 2px solid var(--thirdcolor); 
	}

}


@media (min-width: 950px) {
	
}

@media (min-width: 450px) and (max-width: 950px) {
	.galerie a,
	.galerie a:hover { 
		margin-left:	var(--secondarydif); 
		margin-right:	var(--secondarydif); 
		margin-bottom:	var(--secondarydif);  
	}
}

@media (max-width: 450px) {

}
