@media all{

	html,body {
		margin:				0;
		padding:			0;
		background-color:	var(--pimarycolor,#00a1dd);
	}

	article{
		font-size:			120%;
		text-align:			left;
		padding-top:		var(--pimarydif,2%);
	}
	
	.left__abstand--top{
		padding-top:		var(--pimarydif,2%);
	}
				
	.details__content{
		margin:				calc( var(--pimarydif,8%) * 2);
	}
	
	.innen__headline--color {
		color:		var(--secondarycolor);
	}
	
	.innen__abstand--top {
		padding-top:		calc( var(--pimarydif,6%) * 4);
	}
	
	hr{
		color:	var(--pimarycolor);
	}
		
}


@media (min-width: 321px) and (max-width: 950px),
@media only screen and (min-device-width: 321px) and (max-device-width: 950px)   {
	html,body {
		margin:				0;
		padding:			0;
		background-color:	black;
	}
}


@media (max-width: 320px),
@media only screen and (min-device-width : 320px) and (max-device-width : 640px){
	html,body {
		margin:				0;
		padding:			0;
		background-color:	green;
	}
}