@media all{

	html,body {
		margin:				0;
		padding:			0;
		background-color:	red;//var(--pimarycolor,#00a1dd);
	}

	article{
		font-size:			120%;
		text-align:			left;
		padding-top:		var(--pimarydif,2%);
	}
	
	.left__abstand--top{
		padding-top:		var(--pimarydif,2%);
	}
				
	.details__content{
		margin:				calc( var(--pimarydif,8%) * 2);
	}
	
	.innen__headline--color {
		color:		var(--secondarycolor);
	}
	
	.innen__abstand--top {
		padding-top:		calc( var(--pimarydif,6%) * 4);
	}
	
	hr{
		color:	var(--pimarycolor);
	}
		
}


@media (min-width: 950px) {

}

@media (min-width: 450px) and (max-width: 950px) {

}

@media (max-width: 450px) {


}
