@charset "UTF-8";

@media all{

	html,body {
		margin:				0;
		padding:			0;
		background-color:	#00a1dd;
		font-family:		Helvetica, Arial, Geneva, sans-serif;
        text-align:         left;
		word-wrap:          break-word;
		font-size:          1em; 
		box-sizing: 		0;
		-moz-box-sizing: 	0;
		-webkit-box-sizing: 0;
		line-height:		130%;
	}


	.browser__fontSize--prio1{
		font-size:         1.5em; 
	}
	

	hr{
		color:				#00a1dd;
		height:				0.2em;
		background-color:	#00a1dd;
		border:				0;
		width:	90%;
	}

	.innen__position--right{ text-align: right}
	.innen__position--center{ text-align: center}

	.innen__link--size{ font-size:4.5em;line-height:250%}
	.innen__link--size1{font-size:1.2em}
	
	a.right__link--a,
	a.left__link--a {
		text-decoration:none;
	}
	a.right__link--a:link,
	a.right__link--a:visited,
	a.right__link--a:active,
	a.left__link--a:link, 
	a.left__link--a:visited,
	a.left__link--a:active{
		color: #04678c;
	}

	a.right__link--a:hover, 
	a.right__link--a:focus{ color: rgb(234, 14, 116);}


	.innen__headline--color{color: rgb(234, 14, 116) ;line-height:130%;font-size:3.5em}
	.innen__headline--color1{color: rgb(234, 14, 116);line-height:150%;}
	.innen__link--size2{font-size:1.5em; line-height:400%}  
	.innen__link--size3{font-size:1em;}  
	.innen__link--size4{font-size:1.2em;padding-top:1.8em;}
	.innen__link--size5{font-size:0.5em;line-height:200%;padding-top:1.8em}
	.left__link--size1{font-size:2.5em;line-height:5em};
}

/* IE */
@media screen\9, screen and (min-device-width: 767px){ 
	html,body {	font-size:	1em; }
	hr{ height:0.2em; }
	.innen__link--size{ font-size:1em }
	.innen__headline--color{color: rgb(234, 14, 116) ;font-size:1.1em; line-height:150%; }
	.innen__link--size2{font-size:1.7em; line-height:200%}  
	.innen__link--size4{font-size:0.9em; line-height:200%}
	.left__link--size1{font-size:1.2em;line-height:3em};
} 

@media only screen and (min-device-width : 768px) and  (max-device-width : 1024px){
	.browser__fontSize--prio1{	font-size: 2em; }
	.innen__link--size1{font-size:1.2em}
	.innen__headline--color1{font-size:1.1em}
	.innen__link--size3{font-size:1em;}  
	.innen__link--size5{font-size:0.9em;padding-top:1.8em; line-height:3em}
	.left__link--size2{font-size:1em;line-height:2em};
}

@media only screen and (min-device-width : 300px) and  (max-device-width : 767px){
	.browser__fontSize--prio1{ font-size:3em; }
	.innen__link--size1{font-size:1.5em}
	.innen__headline--color1{font-size:1.3em}
	.innen__link--size3{font-size:1.14em;} 
	.innen__link--size5{font-size:0.6em;padding-top:1.8em; line-height:3em}
	.left__link--size2{font-size:0.8em;line-height:3em};
}
	