@media all{

	.button__fonzSize--prio1,
	.button__fonzSize--standard{
		background-color:	#00a1dd;
		width:				100%;
		padding-top: 		10%;
		padding-bottom:		10%;
		border:				0;
		border-bottom:		1px solid #ffffff;
		color:				#ffffff;
		font-size: 			1.8em;
	}

}


/* IE */
/*@supports (-ms-accelerator:true) {    Edge*/
@media screen\9, screen and (min-width: 767px){ 
	.button__fonzSize--standard{ font-size:	4em;}
} 


@media only screen and (min-device-width : 300px) and  (max-device-width : 767px){
	.button__fonzSize--prio1{font-size:1.5em;}
}
