@media all{

	button[type=button]{
		background-color:	var(--pimarycolor);
		width:				100%;
		font-size: 			80%;
		line-height: 		300%;
		border:				0;
		border-bottom:		1px solid var(--fourthcolor);
		color:				var(--fourthcolor);
	}
	
}


@media (min-width: 950px) {
	
}

@media (min-width: 450px) and (max-width: 950px) {
	
}

@media only screen and (min-device-width : 300px ) and (max-device-width : 450px){
	button[type=button]{
		font-size: 		var(--device__300-450--font1);
		line-height: 		var(--device__300-450--line-height1);
	}
}
