@media all{
	

	.container__width--100 {
		width: 100%;
	}


	.container__width--left,
	.container__width--right,
	.container__width--right1 {
		width:	100%;
	}
		
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){ 

	.container__width--left {
		width:	35%;
	}

	.container__width--right {
		width:			60%;
		margin-left:	0.5em;
	}

	.container__width--right1 {
		width:			60%;
		margin-right:	0.5em;
	}

} 
