.innen__img--button-arabisch{
		background-image:url('../img/button_arabisch.png');
	}

.innen__img--spass{
		background-image:url('../img/viel-spass.jpg');
	}
	
.innen__img--comic1{
		background-image:url('../img/start_comic1.png');
	}
	
.innen__img--comic2{
		background-image:url('../img/start_comic2.png');
	}
	
.innen__img--comic3{
		background-image:url('../img/start_comic3.png');
	}	
	
.left__img--tpw{
		background-image:url('../img/tpw_logo.jpg');	
	}
	
.left__img--nummer-gegen-kummer{
		background-image:url('../img/nummer-gegen-kummer.jpg');	
	}

.innen__img--stueck1{
		background-image:url('../img/stueck1.jpg');
	}

.innen__img--‌stueck2{
		background-image:url('../img/‌stueck2.jpg');
	}

.innen__img--stueck3{
		background-image:url('../img/stueck3.jpg');
	}	
		
.innen__img--stueck4{
		background-image:url('../img/stueck4.jpg');
	}

.innen__img--‌‌stueck5{
		background-image:url('../img/‌stueck5.jpg');
	}

.innen__img--stueck6{
		background-image:url('../img/stueck6.jpg');
	}

.innen__img--chatregeln{
		background-image:url('../img/chatregeln.jpg');
	}

.innen__img--stueck7{
		background-image:url('../img/stueck7.jpg');
	}

.innen__img--stueck8{
		background-image:url('../img/stueck8.jpg');
	}

.innen__img--stueck9{
		background-image:url('../img/stueck9.jpg');
	}

.innen__img--koerpersong{
		background-image:url('../img/koerpersong.jpg');
	}

.innen__img--songs{
		background-image:url('../img/songs.jpg');
	}
	
.innen__img--katrins_geheimnis{
		background-image:url('../img/katrins_geheimnis.jpg');
	}

.innen__img--han_schu{
		background-image:url('../img/han_schu.jpg');
	}

.innen__img--das-bin-ich{
		background-image:url('../img/das-bin-ich.jpg');
	}

.innen__img--einfach_irre{
		background-image:url('../img/einfach_irre.jpg');
	}
	
.innen__img--materialien{
		background-image:url('../img/materialien.jpg');	
	}
	
.innen__img--links{
		background-image:url('../img/links.jpg');	
	}
	
.innen__img--kontakt{
		background-image:url('../img/kontakt.jpg');	
	}	
	
.innen__img--nummer-gegen-kummer {
		background-image: url('../img/nummer-gegen-kummer.jpg');
	}
	
.innen__img--e-mail-beratung {
		background-image: url('../img/e-mail-beratung.png');
	}

.innen__img--hello{
	background-image: url('../img/hallo.jpg');
	}

.innen__img--spass{
	background-image: url('../img/viel-spass.jpg');
	}

