.img__button-arabisch{
	background-image:url('../img/button_arabisch.png');
}

.img--mein-koerper-gehoert-mir{
	background-image:url('../img/mein-koerper-gehoert-mir.jpg');
}	

.img--hello{
	background-image: url('../img/hallo.jpg');
}
	
.img--spass{
	background-image: url('../img/viel-spass.jpg');
}
		
.img--comic1{
	background-image:url('../img/start_comic1.png');
}
		
.img--comic2{
	background-image:url('../img/start_comic2.png');
}
		
.img--comic3{
	background-image:url('../img/start_comic3.png');
}

.img--viel-spass{
	background-image:url('../img/viel-spass.jpg');
}

.img--stueck1{
	background-image:url('../img/stueck1.jpg');
}

.img--‌stueck2{
	background-image:url('../img/‌stueck2.jpg');
}

.img--stueck3{
	background-image:url('../img/stueck3.jpg');
}

.img--stueck4{
	background-image:url('../img/stueck4.jpg');
}

.img--stueck5{
	background-image:url('../img/‌stueck5.jpg');
}

.img--stueck6{
	background-image:url('../img/stueck6.jpg');
}

.img--stueck7{
	background-image:url('../img/stueck7.jpg');
}

.img--stueck8{
	background-image:url('../img/stueck8.jpg');
}

.img--stueck9{
	background-image:url('../img/stueck9.jpg');
}

.img--chatregeln{
	background-image:url('../img/chatregeln.jpg');
}

.img--tpw{
		background-image:url('../img/tpw_logo.jpg');	
	}
	
.img--nummer-gegen-kummer{
		background-image:url('../img/nummer-gegen-kummer.jpg');	
	}

















.innen__img--koerpersong{
		background-image:url('../img/koerpersong.jpg');
	}

.innen__img--songs{
		background-image:url('../img/songs.jpg');
	}
	
.innen__img--katrins_geheimnis{
		background-image:url('../img/katrins_geheimnis.jpg');
	}

.innen__img--han_schu{
		background-image:url('../img/han_schu.jpg');
	}

.innen__img--das-bin-ich{
		background-image:url('../img/das-bin-ich.jpg');
	}

.innen__img--einfach_irre{
		background-image:url('../img/einfach_irre.jpg');
	}
	
.innen__img--materialien{
		background-image:url('../img/materialien.jpg');	
	}
	
.innen__img--links{
		background-image:url('../img/links.jpg');	
	}
	
.innen__img--kontakt{
		background-image:url('../img/kontakt.jpg');	
	}	
	
	
.innen__img--e-mail-beratung {
		background-image: url('../img/e-mail-beratung.png');
	}



