@charset "UTF-8";



@media all{

	/* Anfang Standardwerte */
	
	/* IE */
	.article__content--img--pos1{ 	height:7em; }
	.container__height--5-5em{ 	height:8em; }	
	.container__width--8-1em{width:10em;}
	.container__height--4em{ height: 8em;}
	.container__float--left1{
		float:			left;
		width:			50%; 
		height:			auto;
		margin-right:	1em;
	}
	.container__float--right1{
		float:			right;
		width:			50%; 
		height:			auto;
		margin-right:	1em;
	}
	.container__height--60em {	height: 70em }
	.container__height--14-1em{height:50rem}
	/* no IE */
	.container__height--60-1em {height: 60em}
	.container__height--4-1em { height: 10em}
	.article__content--img{ height:6em; }
	.container__height--5-5-1em{ /*height:3.5em;*/width:100% }
	.container__width--8em { width: 8em	}
	.container__height--2em{ height: 2em;}
	.article__content--img--size4{height:5em;}
	.container__height--10em{height:10em;}
	.container__height--14em{height:26em;}
	.container__float--left {
		float:			left;
		width:			0em; 
		height:			auto;
		margin-right:	1em
	}	
	.container__float--right{
		float:			right;
		width:			0em; 
		height:			auto;
		margin-left:	1em;
	}

	.article__content--img--size3,
	.article__content--img--size6,
	.img__content--size8,
	.container__height--5em{
		height:		5em;
	}
	.container__height--3-5em{
		height:		3.5em;
	}
	.container__height--2-5em{
		height:		2.5em;
	}
	.container__height--12em{
		height:		12em;
	}
	.container__height--15em{
		height:		15em;
	}

	/* Ende Standardwerte */

	.content__img--details{
		height:					100%; 
		background-repeat:		no-repeat; 
		background-position:	center;
		background-size:		contain;
	}

	.content__img--details--pos1{
		height:					100%; 
		background-repeat:		no-repeat; 
		background-position:	right;
		background-size:		contain;
	}	

	.content__img--details--pos2{
		height:					100%; 
		background-repeat:		no-repeat; 
		background-position:	left;
		background-size:		contain;
	}


	.article__content--img--size5{
		float:			left;
		width:			0em; 
		height:			auto;
		margin-right:	1em
	}	
		

	.container__width{
		width:			100%;
		text-align:		center;
	}

	.container__height--4-9em{ height:4.9em; }
	.container__width--22{width:			22%;}
	.container__width--78{width:			78%;}
	.container__width--8em { width: 8em	}
	.container__height--4-1em { height:4em}	
	.container__height--14-1em{height:11em}
	.container__height--60-1em { height: 21em }	
	.article__content--img1{height:	3.7em;}
	
}


/* IE */
@media screen\9, screen and (min-device-width: 767px){ 
	.container__height--3em{ height:3em; }
	.container__height--5em{ height:6em; }
	.container__height--3-5em{ height:3.5em; }
	.container__height--2-5em{	height:	2.5em; }
	.container__height--4-9em{	height:	3em; }
	.article__content--img--pos1{ height:5rem;}
	.container__height--5-5em{ height:5em;}
	.container__float--left1{width:100%;}
	.container__float--right1{width:100%;}
	.container__width--8-1em{width:14em;}
	.container__height--4em{ height:3.5em; }
	.container__height--14em{height:14em}
	.container__height--60em { height: 40em}
	.article__content--img{	height:4.3em;}
	/* IE */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){ 
	
	.article__content--img1{ height:1.8em; }
	.container__height--3em{ height:3em; }
	.container__height--5em{ height:5em; }
	.container__height--3-5em{ height:3.5em; }
	.container__height--2-5em{	height:	2.5em; }
	.container__width--8em { width: 8em	}
	.container__height--4-1em { height:4em}	
	.container__height--14-1em{height:9em}
	.container__height--60-1em { height: 19em }
}

@media only screen and (min-device-width : 300px) and  (max-device-width : 767px){
	.container__height--14-1em{height:11em}
	.container__height--60-1em { height: 21em }	
	.container__width--22,
	.container__width--78{width:		100%;}
	.container__height--5em{ height:7em; }
	.container__height--15em{ height:20em; }
	.container__height--4-9em{ height:4.5em; }
	.article__content--img1{height:1.95em;}
	.container__height--5-5-1em{height:		3em;}
	.container__float--right,		
	.container__float--left{
		width:	50%;
	}	
	.container__height--4-1em { height: 3em}	
}