@media all{

	.innen__img--pos {
		margin-left:			0;
		background-position: 	0 1rem;
	}
	
	.left__abstand--top1{
		margin-top:		12%
	}
	
	.img__pos--right,
	.img__pos--right1,
	.img__pos--right2,
	.img__pos--right3,
	.img__pos--right4,
	.img__pos--right5{
		position:		absolute; 
	}

	.img__pos--righ{}
	
	.img__pos--right1{}
	
	.img__pos--right2{
		right:			-343px;
	}

	.img__pos--right3{}

	.img__pos--right4{
		right:			23px;
	}
	
	.innen__button--position{
		text-align:		right;
		margin-right:	var(--pimarydif,2%)
	}
	
	.innen__image--position{
		margin-left:	var(--pimarydif,2%); 
		text-align:		left;
	}

	.img__pos--right5{}
	
}

@media only screen and (min-device-width : 901px)and (max-device-width : 960px){  
	.img__pos--right {
		right:	-70px;
	}
}

@media only screen and (min-device-width : 651px)and (max-device-width : 900px){  
	.img__pos--right {
		right:	-90px;
	}
}

@media only screen and (min-device-width : 491px)and (max-device-width : 650px){ 

	.left__abstand--top1 {
		margin-top: var(--pimarydif);
	}

	.img__pos--right1{
		right:	-110px;
	}
	.img__pos--right5{
		left:	0px;
	}

	.img__pos--right {
		right: -50px;
	}
}

@media only screen and (min-device-width : 451px) and (max-device-width : 490px),
@media only screen and (min-device-width : 300px) and (max-device-width : 450px){
	.img__pos--right {
		right: 0;
	}

	.img__pos--right1{
		right:	var(--pimarydif);
	}	

	.img__pos--right5{	
		left:-0px;
	}	
	
	.innen__img--pos {
		margin-left:	auto;
	}

	.img__pos--right4 {
		right: auto;
	}	

	.img__pos--right3 {
		right: auto;
	}
	
	.left__abstand--top1 {
		margin-top: 4%;
	}
}

