@media all{

	.innen__img--size1{
		width:					150px;
		height:					190px;
	}

	.innen__img--size2{
		width:					350px;
		height:					300px;
	}	


	.innen__img--size3{
		width:					150px;
		height:					110px;
	}
	
	.innen__img--size{
	}
	
	
}


@media (min-width: 950px) {
	
}

@media (min-width: 450px) and (max-width: 950px) {
	
}

@media (max-width: 450px) {
	.innen__img--size{
		width:			100%;
		margin-top:		0.8rem;
		margin-bottom:	0.8rem;
	}
}
