@media all{

	.nav__links{
		text-align:		left;
		width:			100%;
		display:		inline-block;
		border-bottom:	1px solid #ffffff;
		color:			#ffffff;
		padding-top: 	1.5em;
		padding-bottom:	1.5em;
		padding-left:	0.2em;
		font-size:		1.75em;
		text-decoration:none;
		line-height:	2em;
	}

	.nav__links-1{
		text-align:		left;
		width:			100%;
		display:		inline-block;
		border-bottom:	1px solid #ffffff;
		color:			#ffffff;
		padding-top: 	1em;
		padding-bottom:	1em;
		padding-left:	0.2em;
		font-size:		1.3em;	
		text-decoration: none;
		line-height:	2em;	
	}

	.button__verstecken,
	.button__anzeigen{
		visibility:		hidden;
		display:		none;
	}	

	a.nav__links:hover,
	a.nav__links-1:hover,
	a.nav__links:active,
	a.nav__links-1:active,
	a.nav__links:focus,
	a.nav__links-1:focus{color:#acacac}
}

/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){ 
	
	.nav__links{
		text-align:		left;
	}

}
*/

/* IE */
@media screen\9, screen and (min-device-width: 300px) and  (max-device-width : 767px){

	.nav__status,
	.button__verstecken,
	.button__anzeigen{
		display:		inline;
		visibility:		visible;
		text-align:		center;
	}
	
	.nav__status--hidden,
	.button__verstecken--hidden,
	.button__anzeigen--hidden,
	{
		visibility:		hidden;
		display:		none;
	}
		
	.nav__links{
		text-align:		center;
		padding-top:	10%;
		padding-bottom:	10%;
		font-size:		4em;
	}

} 

@media only screen and (min-device-width : 300px) and  (max-device-width : 767px){

	.nav__status,
	.button__verstecken,
	.button__anzeigen{
		display:		inline;
		visibility:		visible;
		text-align:		center;
	}
	
	.nav__status--hidden,
	.button__verstecken--hidden,
	.button__anzeigen--hidden{
		visibility:		hidden;
		display:		none;
	}

	.nav__links-1{
		text-align:		center;
		padding-left:	0;	
		padding-top:	10%;
		padding-bottom:	10%;
		font-size:		1.5em;	
	}

}
