@media all{

	.wrapper{
		display:			flex;
		flex-flow: 			row wrap;
        background: 		url('../img/bg_content.jpg') #00a1dd;
        background-size: 	contain;
        margin-left:		2%;
		margin-right:		5%;
        margin-top:			0;
		margin-bottom:		0;
		flex-basis: 		95%;/*100%;*/
		flex: 				1;
		overflow:			hidden;
	}
	
    .wrapper__left,
	.wrapper__right{
		background-size: 	contain;
		overflow:			hidden;
	}	 
	
	.wrapper__left{
		width:				30%;
		background: 		url('../img/bg_menu.jpg');
		color:				#ffffff;
	}		
	.wrapper__right{
		width:				70%;
		color:				#000000;
	}		
	
}

/* IE */
/*@media screen\9, screen and (min-width: 410px){ 
    .wrapper__left,
    .wrapper__right{
        width:			100%;
    }
}*/


@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){ 
    .wrapper__left{
        width:			40%;
	}
    .wrapper__right{
        width:			60%;
    }
}

 
@media only screen and (min-device-width : 300px) and  (max-device-width : 767px){
    .wrapper__left,
    .wrapper__right{
        width:			100%;
    }
}
